ul, li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    width: 100%;
}

li{
    float: left;
    width: auto;
}

a{
    background-color: #30A6E6;
    color: white;
    display: block;
    padding: 10px 25px;
    font: bold 13px sans-serif;
    text-align: center;
    text-decoration: none;
}

li:hover a{
    background-color: black;
}